.list {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 10px;
  }
.list_header {
	border-radius: 5px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px;
}
.btn {
	margin: 15px;
	display: flex;
	justify-content: space-between;
}
.btn_Nav {
	background-color: #ffffff;
	border-radius: 5px;
	margin-left: 5px;
}
.btn_Nav:hover {
	background-color: #b8b4b4;
}
.btn_newDay {
	border-radius: 5px;
	margin-left: 15px;
	background-color: #d16c0d;
}
.btn_addNewUser {
	border-radius: 5px;
	margin-left: 15px;
	background-color: #7d1ecd;
}
.modal_header {
  font-weight: bold;
  font-size: large;
  color: black;
  position: absolute;
  top: 6vw;
  left: 8vw;
}
.modal_nameUser {
  box-shadow: 5px 10px;
  margin: 2vw;
  border: 1px solid #0a0a0a;
  text-transform: capitalize;
  font-weight: bold;
  font-size: large;
  color: black;
  padding-bottom: 5%;
}
.modal_score {
  box-shadow: 3px 10px;
  margin-top: 0;
  margin-bottom: 15px;
}
