.modal {
    height: 75vh;
    width: 75vh;
    background-color: #e5e5e5;
    border-radius: 12px;
    position: fixed;
    top: 150px;
    left: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* pointer-events: none; */
    transition: 0.5s;
}
.modal_active {
    height: 50vh;
    width: 50vh;
    opacity: 1;
    background-color: #e5e5e5;
    border-radius: 12px;
    position: fixed;
    top: 250px;
    left: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.modal_close {
    border-radius: 5px;
    position: absolute;
    left: 45vh;
    top: 9px;
}

.modal_content {
    padding: 20px;
    border-radius: 12px;
    width: 50vw;
}
