.modal_header {
  font-weight: bold;
  font-size: large;
  color: black;
  position: absolute;
  top: 6vw;
  left: 8vw;
}
.modal_nameUser {
  box-shadow: 5px 10px;
  margin: 2vw;
  border: 1px solid #0a0a0a;
  text-transform: capitalize;
  font-weight: bold;
  font-size: large;
  color: black;
  padding-bottom: 5%;
}
.modal_score {
  box-shadow: 3px 10px;
  margin-top: 0;
  margin-bottom: 15px;
}
