.board {
  background-color: #e5e5e5;
  margin: 10px;
}
.board_header{
	color: #d16c0d;
}
.top {
  background-color: #7d1ecd;
  border-radius: 5px;
  margin: 10px;
}
.list {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px;
}
.top_header {
	display: flex;
	justify-content: flex-start;
	color: white;
	margin-left: 25px;
}
.top_leaders{
	display: flex;
	justify-content: space-around;
	height: 125px;
}
.top_leaders-img {
	display: flex;
	margin-top: -50px;
}
.list_header {
	border-radius: 5px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px;
}
.btn{
	margin: 15px;
	display: flex;
	justify-content: space-between;
}
.btn_Nav {
	background-color: #ffffff;
	border-radius: 5px;
	margin-left: 5px;
}
.btn_Nav:hover {
	background-color: #b8b4b4;
}
.btn_newDay {
	border-radius: 5px;
	margin-left: 15px;
	background-color: #d16c0d;
}
.btn_addNewUser {
	border-radius: 5px;
	margin-left: 15px;
	background-color: #7d1ecd;
}
.item {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.name {
	text-transform: capitalize;
}
.item span:empty::after {
	 content: "0";
 }
 ol li {
  padding: 5px;
  margin-left: 35px;
}
