.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.name {
  text-transform: capitalize;
}
.flex {
  padding: 5px;
  margin-left: 35px;
}
span {
  font-weight: bold;
}
.images {
  border: 1px solid #0a0a0a;
  border-radius: 8px;
}
.place {
  display: flex;
  align-items: center;
}

.place p {
  margin-left: 10px;
}
